

<ul>
            {% for t in person_list %}
                <li>
                    <p>
                        <a href={{ t.get_absolute_url }}>{{ t.user }}</a>- Member Since {{ t.user.date_joined }}
                    </p>
                    <a id="courses" href={% with url_name="user_topic_list" %}
                                         {% url url_name t.user %}
                                         {% endwith %}
                                         >{{ t.user }}'s Courses - {{ t.topic_set.count }}</a>
                    <a id="resources" href={% with url_name="personalresource_list" %}
                                           {% url url_name t.user %}
                                           {% endwith %}
                                           >{{ t.user }}'s Resources - {{ t.personalresource_set.count }}</a>
                </li>
            {% endfor %}
 </ul>
